
<div class="modal fade" id="modalDeleteEvent" tabindex="-1" aria-labelledby="modalDeleteEventLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning font-weight-normal lead" id="modalDeleteEventLabel">Delete an Event</h5>
                <button type="button" class="close scaleIcon focusWarning" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-warning">&times;</span>
                </button>
            </div>
            <div class="modal-body text-primary">
                Are you sure you want to delete an Event - <span id="deleteEventTitle"></span>?
            </div>
            <div class="modal-footer justify-content-center align-content-center">
                <button id="cancelButton" type="button" class="btn btn-link font-weight-light px-4 text-white text-uppercase btn-modal-success mr-4" data-dismiss="modal">Cancel</button>
                <button id="deleteDeleteBtn" type="button" class="btn btn-link font-weight-light px-4 text-white text-uppercase btn-modal-warning ml-4">Delete</button>
            </div>
        </div>
    </div>
</div>
