@{
    ViewBag.Title = "Confirm Email";
}

@section Header{
        <i class="fi-xtluxl-user-plus-thin"></i> Registration
}

<section id="confirmEmail">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto my-5 px-1">
                <div class="card p-5 card-body bg-primary scaleBlueButton">
                    <div class="card-title text-center">
                        <h2 class="text-white display-4">Your email is confirmed</h2>
                    </div>
                    <div class="card-text lead text-white">
                        Thank you for confirming your email. Our Admin will check your account information within 24 hours
                        and send you an aproval email.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


