
@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

@section Header{
        <i class="fi-xtluxl-sign-in-thin"></i> Forgot Password
}

@*Main*@
<section id="main">
    <div class="container">
        @*Upper Button Panel*@
        <section id="upperPanelButton">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 px-1 px-md-0">
                    <div class="card my-2">
                        <div class="card-header d-flex justify-content-center bg-white py-1">
                                <a asp-controller="Home" asp-action="Index"
                                   data-toggle="tooltip" data-placement="top" title="To a home page" data-trigger="hover"
                                   class="scaleIcon btn btn-link p-0 text-primary mr-1">
                                    <i class="fi-xnllx2-arrow-simple"></i>
                                </a>
                            <a asp-action="ForgotPassword"
                               class="scaleIcon btn btn-link p-0 text-warning"
                               data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Clear the form">
                                <i class="fi-xnlux2-times"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*ForgotPassword*@

        
        <form asp-action="ForgotPassword" method="post" class="font-weight-light">
            <div class="row d-flex justify-content-center">
                <div asp-validation-summary="ModelOnly" class="px-1 px-lg-0 col-lg-4 col-md-6 text-justify text-danger
                     validationSummary"></div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 px-1 px-md-0 mb-2">
                    <div class="card card-body shadowBox bodyCreate">
                        <div class="form-row">
                            <div class="form-group col">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="email" class="form-control pl-md-3">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Down Pannel Button*@
            <section id="downPanelButton">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-4 col-md-6 px-1 px-md-0">
                        <div class="card mb-4">
                            <div id="cardFooter" class="card-header d-flex justify-content-center bg-white py-1">
                                <button type="submit" class="scaleIcon btn btn-link text-success mr-0 p-0" data-trigger="hover" data-toggle="tooltip" data-placement="top" title="Send link to reset my password">
                                    <span role="img" class="pt-1 px-2 pb-2">
                                        <svg fill="#20c975" width="26px" height="26px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1827.701 303.065 698.835 1431.801 92.299 825.266 0 917.564 698.835 1616.4 1919.869 395.234z" fill-rule="evenodd" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</section>

