@model UserLoginViewModel

@{
    ViewBag.Title = "Login";
}

@section Header{
    <i class="fi-xtluxl-sign-in-thin"></i> Login
}

@*Main*@
<section id="main">
    <div class="container">
        @*Upper Button Panel*@
        <section id="upperPanelButton">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 px-1 px-md-0">
                    <div class="card my-2">
                        <div class="card-header d-flex justify-content-center bg-white py-1">
                            <a asp-controller="Home" asp-action="Index"
                               data-toggle="tooltip" data-placement="top" title="To a home page" data-trigger="hover"
                               class="scaleIcon btn btn-link p-0 text-primary mr-1">
                                <i class="fi-xnllx2-arrow-simple"></i>
                            </a>
                            <a asp-action="Login" class="scaleIcon btn btn-link p-0 text-warning mr-1"
                               data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Clear the form">
                                <i class="fi-xnlux2-times"></i>
                            </a>
                            <a asp-controller="Account" asp-action="Register"
                               class="scaleIcon btn btn-link p-0 text-success"
                               data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Register">
                                <i class="fi-xtlux2-user-plus-thin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*Login*@

        <form asp-action="Login" method="post" class="font-weight-light">
            <div class="row d-flex justify-content-center">
                <div asp-validation-summary="ModelOnly" class="px-1 px-lg-0 col-lg-4 col-md-6 text-justify
                     validationSummary"></div>
            </div>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 px-1 px-md-0 mb-2">
                    <div class="card card-body shadowBox bodyCreate">
                        <div class="form-row">
                            <div class="form-group col">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="email"
                                       class="form-control text-primary pl-md-3" autocomplete="username">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label asp-for="Password"></label>
                                <input id="password" asp-for="Password" type="password"
                                       class="form-control inputPass" autocomplete="current-password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row justify-content-center mb-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" onclick="showPass()" id="passwordToggle">
                                <label class="custom-control-label" for="passwordToggle">Show Password</label>
                            </div>
                        </div>
                        <div class="form-row justify-content-center mb-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                                <label class="custom-control-label" asp-for="RememberMe"></label>
                                <span asp-validation-for="RememberMe" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="whiteLink">
                                <a asp-action="ForgotPassword" class="text-white p-1">Forgot Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Down Pannel Button*@
            <section id="downPanelButton">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-4 col-md-6 px-1 px-md-0">
                        <div class="card mb-4">
                            <div id="cardFooter" class="card-header d-flex justify-content-center bg-white py-1">
                                <button type="submit" class="scaleIcon btn btn-link text-success mr-0 p-0"
                                        data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Login">
                                    <span role="img" class="pt-1 px-2 pb-2">
                                        <svg fill="#20c975" width="26px" height="26px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1827.701 303.065 698.835 1431.801 92.299 825.266 0 917.564 698.835 1616.4 1919.869 395.234z" fill-rule="evenodd" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</section>

