@{
    ViewBag.Title = "Success Registration";
}

@section Header{
        <i class="fi-xtluxl-user-plus-thin"></i> Registration
}

<section id="successRegistration">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto my-5 px-1">
                <div class="card p-5 card-body bg-primary scaleBlueButton">
                    <div class="card-title text-center">
                        <h2 class="text-white display-4">Success registration</h2>
                    </div>
                    <div class="card-text lead text-white">
                        Please check your email for the verification action.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

