       
 <div class="modal fade" id="modalDeleteEntity" tabindex="-1" aria-labelledby="modalDeleteEntityLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-warning font-weight-normal lead" id="modalDeleteEntityLabel">Delete a <span id="modalEntity"></span></h5>
                </div>
                <div id="modalMessage" class="modal-body">
                    
                </div>
                <div class="modal-footer justify-content-center align-content-center">
                            <button id="cancelButton" type="button" class="btn btn-link font-weight-light px-4 text-white text-uppercase btn-modal-success mr-4" data-dismiss="modal">Cancel</button>
                            <button id="deleteButton" type="button" class="btn btn-link font-weight-light px-4 text-white text-uppercase btn-modal-warning ml-4">Delete</button>
                </div>
            </div>
        </div>
    </div>
